
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body,
html {
    background-color: #f5d0fe;
    color: #701a75;
    font-family: 'Courier New', Courier, monospace;
    height: 100vh;
}
.container h1 {
    text-align: center;
}
.container {
    max-width: 1024px;
    margin: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

label {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}


input[type="date"] {
    background-color: red;
    outline: #701a75;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator {
    font-size: 25px;
  }

#btn {
    margin-top: 20px;
    background-color: #f0abfc;
    color: black;
    padding: 5px 30px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

#btn:hover {
    opacity: 0.8;
}

#output {
    padding: 10px 20px;
    margin-top: 20px;
    text-align: justify;
}

.loader {
    margin-top: 30px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #701a75;
    border-right: 16px solid #ffe4e6;
    border-bottom: 16px solid #be123c;
    border-left: 16px solid #ffe4e6;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }